<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ABC</title>
        <meta charshet="utf-8" />
        <link rel="stylesheet" type="text/css" href="stylebtvn.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    </head>

    <body>
        <div class="header" >
            <div class="container" id="myHeader">
                <header>
                <div class="navbar">
                    <div class="logo">
                        <img src="Hinh/hinh1.jpg" width="150px">
                    </div>
                <nav>
                     <ul id="MenuItems">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Blog</a></li> 
                            <li><a href="#">Contract</a></li>
                                      
                     </ul>
                
                </nav>
                 <img src="Hinh/cart.png" width="25px" height="25px">
                </div>
                </header>
        </div>
        <div class="row">
        <div class="col-2">
            <h1>Let's enjoy the taste from the heart</h1>      
            <a href="" class="btn">Click to find out more &#10132;</a>
        </div>
        <div class="col-2">
            <img src="Hinh/hinh3.png">
        </div>
    </div>
    </div>
    <div class="content">
    <div class="small-container">
    <h2 class="title">Product Display</h2>
    <div class="row">
        <div class="col-4">
            <img src="Hinh/banh.png">
            <h4>Bánh trung thu thập cẩm</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <a href="" class="btn">Xem sản phẩm &#10132;</a>
        </div>
        <div class="col-4">
            <img src="Hinh/banh2.png">
            <h4>Bánh xốp kem matcha</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <a href="" class="btn">Xem sản phẩm &#10132;</a>
        </div>
        <div class="col-4">
            <img src="Hinh/banh3.png">
            <h4>Bánh xốp kem dâu</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <a href="" class="btn">Xem sản phẩm &#10132;</a>
        </div>
        <div class="col-4">
            <img src="Hinh/banh4.png">
            <h4>Bánh trung thu đậu đỏ</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <a href="" class="btn">Xem sản phẩm &#10132;</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download our app</h3>
                <p>Downlodd app for andriod and ios mobile phone</p>
                <div class="app-logo">
                    <img src="images2/app-store.png">
                    <img src="images2/play-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="Hinh/hinh1.jpg">
                <p>Our Purpose is to sustainably make the pleasure and benefits of cake accessible to the many</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                            <li><a href="#">Coupons</a></li>
                            <li><a href="#">Blog Post</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Becombe Affiliate</a></li>
            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Youtube</a></li>
            </div>
        </div>
        <hr>
            <p class="copyright">© 2021 ABC Bakery. All rights reserved. - CÔNG TY TNHH MỘT THÀNH VIÊN BÁNH KẸO Á CHÂU MS doanh nghiệp: 0302259104 do sở Kế Hoạch và Đầu Tư TP.Hồ Chí Minh cấp lần đầu ngày 14/03/2001, đăng ký thay đổi lần thứ 16 ngày 26/04/2017. Người chịu trách nhiệm: Kao Siêu Lực Trụ sở: 1175A, đường 3/2, phường 6, quận 11, Tp. HCM, Việt Nam Điện thoại: (028) 37520857 Fax: (028) 38551242 Email: contact@abcbakery.co</p>
    </div>
</div>
</div>
<script type="text/javascript">
    window.onscroll = function() {myFunction()};


var header = document.getElementById("myHeader");


var sticky = header.offsetTop;


function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>