
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutABC1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
   @* <link href="~/Content/style2.css" rel="stylesheet" />*@
</head>

<body class="page-contact-us">
      <div class="clearFix"></div>
    <article class="contactMap">
        <div id="map-canvas" style="text-align:center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.623321262178!2d106.76418431417217!3d10.840111260980622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527a62053aa0d%3A0xe3dfed28c9d34c61!2zMjQvMiDEkOG6t25nIFbEg24gQmksIELDrG5oIFRo4buNLCBUaOG7pyDEkOG7qWMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1635654819543!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="addressSection">          
            <div class="host">
                <div class="country" id="country-">
                    <div class="content" data-lat="" data-lng="">
                        <div class="addressName">LHT Medical Phú Yên</div>
                        <p><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;287B Trần Hưng Đạo, P.4, TP.Tuy Hòa, T.Phú Yên&quot;}" data-sheets-userformat="{&quot;2&quot;:4458,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">287B Trần Hưng Đạo, P.4, TP.Tuy Hòa, Phú Yên</span></p>
                        <p>Tel: <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;0257 3822939&quot;}" data-sheets-userformat="{&quot;2&quot;:7083,&quot;3&quot;:[null,1],&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;10&quot;:2,&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;helvetica&quot;}">0257 3822939</span></p>
                        <p>Fax: <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;0257 3811707&quot;}" data-sheets-userformat="{&quot;2&quot;:7017,&quot;3&quot;:[null,1],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;Arial&quot;}">0257 3811707</span></p>
                    </div>
                    <div class="content" data-lat="16.070818" data-lng="108.21561700000007">
                        <div class="addressName">LHT Medical Đà Nẵng</div>
                        <p>
                            132- 134 Lê Duẩn, Phường Thạch Thang, Quận Hải Châu, Tp. Đà Nẵng<br />
                            Tel: 0236 3531175<br />
                            Fax: 0236 3531174
                        </p>
                    </div>
                    <div class="content" data-lat="10.8355083" data-lng="106.62028669999995">
                        <div class="addressName">LHT Medical Trường Chinh</div>
                        <p>448/4 Trường Chinh, P. Tân Hưng Thuận, Quận 12,</p>
                        <p>
                            Tp. Hồ Chí Minh<br />
                            Tel: 028 35923717<br />
                            Fax: 028 35923721
                        </p>
                    </div>
                    <div class="content" data-lat="10.8505345" data-lng="106.76208969999993">
                        <div class="addressName">LHT Medical Thủ Đức</div>
                        <p>
                            172 Võ Văn Ngân, P. Bình Thọ, Q. Thủ Đức, Tp. Hồ Chí Minh<br />
                            Tel: 028 540 93665<br />
                            Fax: 028 540 93664
                        </p>
                    </div>
                    <div class="content" data-lat="10.7950994" data-lng="106.70993150000004">
                        <div class="addressName">LHT Medical Thị Nghè</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;1A Nguyễn Văn Lạc, P.21, Q.Bình Thạnh, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">1A Nguyễn Văn Lạc, P.21, Q.Bình Thạnh, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 35146020<br />
                            Fax: 028 35140915
                        </p>
                    </div>
                    <div class="content" data-lat="10.7911156" data-lng="106.65664130000005">
                        <div class="addressName">LHT Medical Tân Bình</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;1029 Cách Mạng Tháng 8, P.7, Q.Tân Bình,TPHCM &quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">1029 Cách Mạng Tháng 8, P.7, Q.Tân Bình,Tp. Hồ Chí Minh</span><br />
                            Tel: 028 39706865<br />
                            Fax: 028 39707065
                        </p>
                    </div>
                    <div class="content" data-lat="10.834444" data-lng="106.66464510000003">
                        <div class="addressName">LHT Medical Quang Trung</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;34 - 36 Quang Trung, P.10, Q.Gò Vấp, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">34 &#8211; 36 Quang Trung, P.10, Q.Gò Vấp, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 39890154<br />
                            Fax: 028 39890164
                        </p>
                    </div>
                    <div class="content" data-lat="10.8485061" data-lng="106.77484090000007">
                        <div class="addressName">LHT Medical Quận 9</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;161 Đỗ Xuân Hợp, P.Phước Long B, Q.9, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">161 Đỗ Xuân Hợp, P.Phước Long B, Q.9, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 37305282<br />
                            Fax: 028 37360195
                        </p>
                    </div>
                    <div class="content" data-lat="10.7404499" data-lng="106.65630550000003">
                        <div class="addressName">LHT Medical Quận 8</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;A27/9, Quốc lộ 50, Xã Bình Hưng, H.Bình Chánh, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">A27/9, Quốc lộ 50, Xã Bình Hưng, H.Bình Chánh, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 54305597<br />
                            Fax: 028 54306220
                        </p>
                    </div>
                    <div class="content" data-lat="10.7596705" data-lng="106.69846770000004">
                        <div class="addressName">LHT Medical Quận 4</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;396 Hoàng Diệu, P.5, Q.4, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">396 Hoàng Diệu, P.5, Q.4, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 3940 8522<br />
                            Fax: 028 3940 8520
                        </p>
                    </div>
                    <div class="content" data-lat="10.7854613" data-lng="106.75693449999994">
                        <div class="addressName">LHT Medical Quận 2</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;211 - 211A Nguyễn Thị Định, P.Bình Trưng Tây, Q.2, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">211 &#8211; 211A Nguyễn Thị Định, P.Bình Trưng Tây, Q.2, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 37438467<br />
                            Fax: 028 37438470
                        </p>
                    </div>
                    <div class="content" data-lat="10.7387053" data-lng="106.71159439999997">
                        <div class="addressName">LHT Medical Quận 7</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;368 Nguyễn Thị Thập, P.Tân Quy, Q.7, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">368 Nguyễn Thị Thập, P.Tân Quy, Q.7, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 37717782<br />
                            Fax: 028 37719064
                        </p>
                    </div>
                    <div class="content" data-lat="10.7684715" data-lng="106.69266879999998">
                        <div class="addressName">LHT Medical Phạm Ngũ Lão</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;223 - 225 Phạm Ngũ Lão, P.Phạm Ngũ Lão, Q.1, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">223 &#8211; 225 Phạm Ngũ Lão, P.Phạm Ngũ Lão, Q.1, Tp. Hồ Chí Minh</span><br />
                            <a href="http://phamngulao.abcbakery.co">View Website</a><br />
                            Tel: 028 38364213<br />
                            Fax: 028 38370489
                        </p>
                    </div>
                    <div class="content" data-lat="12.2478842" data-lng="109.18942449999997">
                        <div class="addressName">LHT Medical Nha Trang 1</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;78A Lý Thánh Tôn, P.Phương Sài, TP.Nha trang&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">78A Lý Thánh Tôn, P.Phương Sài, TP.Nha trang, Khánh Hòa</span><br />
                            Tel: 0258 3815607<br />
                            Fax: 0258 3815608
                        </p>
                    </div>
                    <div class="content" data-lat="12.246369149390228" data-lng="109.18986977674865">
                        <div class="addressName">LHT Medical Nha Trang 2</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;14A Lê Thánh Tôn, P.Phước Tiến, TP.Nha trang&quot;}" data-sheets-userformat="{&quot;2&quot;:7019,&quot;3&quot;:[null,0],&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">14A Lê Thánh Tôn, P.Phước Tiến, TP.Nha trang, Khánh Hòa</span><br />
                            Tel: <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;0258 3513 039 &quot;}" data-sheets-userformat="{&quot;2&quot;:7019,&quot;3&quot;:[null,0],&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">0258 3513 039 </span>
                        </p>
                    </div>
                    <div class="content" data-lat="10.756714" data-lng="106.67697250000003">
                        <div class="addressName">LHT Medical Nguyễn Trãi</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;229 - 231 - 233 Nguyễn Trãi, P.2, Q.5, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">229 &#8211; 231 &#8211; 233 Nguyễn Trãi, P.2, Q.5, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 39236522<br />
                            Fax: 028 39237477
                        </p>
                    </div>
                    <div class="content" data-lat="10.8559505" data-lng="106.60757839999997">
                        <div class="addressName">LHT Medical Nguyễn Ảnh Thủ</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;158/5 Nguyễn Ảnh Thủ, Ấp Trung Chánh 2, Xã Trung Chánh, H.Hóc Môn, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">158/5 Nguyễn Ảnh Thủ, Ấp Trung Chánh 2, Xã Trung Chánh, H.Hóc Môn, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 37030125<br />
                            Fax: 028 37030124
                        </p>
                    </div>
                    <div class="content" data-lat="10.7707376" data-lng="106.63192750000007">
                        <div class="addressName">LHT Medical Lũy Bán Bích</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;253 Lũy Bán Bích, P.Hiệp Tân, Q.Tân Phú, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">253 Lũy Bán Bích, P.Hiệp Tân, Q.Tân Phú, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 38607849<br />
                            Fax: 028 38607849
                        </p>
                    </div>
                    <div class="content" data-lat="10.7869052" data-lng="106.67989609999995">
                        <div class="addressName">LHT Medical Lê Văn Sỹ</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;282B Lê Văn Sỹ, P.14, Q.3, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">282B Lê Văn Sỹ, P.14, Q.3, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 38439088/ 028 22453602<br />
                            Fax: 028 35261425
                        </p>
                    </div>
                    <div class="content" data-lat="10.7480392" data-lng="106.63492080000003">
                        <div class="addressName">LHT Medical Hậu Giang</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;606 Hậu Giang, P.12, Q.6, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">606 Hậu Giang, P.12, Q.6, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 38170696<br />
                            Fax: 028 38170779
                        </p>
                    </div>
                    <div class="content" data-lat="10.7729773" data-lng="106.69050149999998">
                        <div class="addressName">LHT Medical CMT8 Quận 1</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;91A - 91 - 91B, Cách Mạng Tháng 8, P.Bến Thành, Q.1, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">91A &#8211; 91 &#8211; 91B, Cách Mạng Tháng 8, P.Bến Thành, Q.1, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 39251157<br />
                            Fax: 028 39251156
                        </p>
                    </div>
                    <div class="content" data-lat="10.0373505" data-lng="105.77620520000005">
                        <div class="addressName">LHT Medical Cần Thơ</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;90 - 92 Trần Hưng Đạo, P.An Nghiệp, Q.Ninh Kiều, TP.Cần Thơ&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">90 &#8211; 92 Trần Hưng Đạo, P.An Nghiệp, Q.Ninh Kiều, Tp.Cần Thơ</span><br />
                            Tel: 0292 6252161<br />
                            Fax: 0292 6252136
                        </p>
                    </div>
                    <div class="content" data-lat="10.8138789" data-lng="106.77525070000002">
                        <div class="addressName">LHT Medical Bình Thái</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;161 Đỗ Xuân Hợp, P.Phước Long B, Q.9, TPHCM&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">161 Đỗ Xuân Hợp, P.Phước Long B, Q.9, Tp. Hồ Chí Minh</span><br />
                            Tel: 028 37282528<br />
                            Fax: 028 37282529
                        </p>
                    </div>
                    <div class="content" data-lat="10.9811754" data-lng="106.66682839999999">
                        <div class="addressName">LHT Medical Bình Dương</div>
                        <p>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;459 Đại Lộ Bình Dương, P.Phú Cường, TP.Thủ Dầu Một, T.Bình Dương&quot;}" data-sheets-userformat="{&quot;2&quot;:6506,&quot;4&quot;:[null,2,16777215],&quot;6&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;8&quot;:{&quot;1&quot;:[{&quot;1&quot;:2,&quot;2&quot;:0,&quot;5&quot;:[null,2,0]},{&quot;1&quot;:0,&quot;2&quot;:0,&quot;3&quot;:3},{&quot;1&quot;:1,&quot;2&quot;:0,&quot;4&quot;:1}]},&quot;9&quot;:0,&quot;11&quot;:4,&quot;14&quot;:[null,2,0],&quot;15&quot;:&quot;arial,sans,sans-serif&quot;}">459 Đại Lộ Bình Dương, P.Phú Cường, Tp.Thủ Dầu Một, Bình Dương</span><br />
                            Tel: 0274 3848997<br />
                            Fax: 0274 3848792
                        </p>
                    </div>                         
            </div>
        </div>
            </div>
        <div class="clearFix"></div>
        <div class="address">
            <div class="cage">
                <div class="title">
                    <div class="titleSlant contactIcon">Contact Us</div>
                    <div class="clearFix"></div>
                </div>
                <div class="clearFix"></div>
            </div>
        </div>
        
        <br />
        <p >
            Địa chỉ liên lạc <br />
            XIn cảm ơn<br />
            <strong>CHÍNH SÁCH BẢO MẬT THÔNG TIN DÀNH CHO WEBSITE THƯƠNG MẠI ĐIỆN TỬ BÁN HÀNG</strong><br />
            MỤC ĐÍCH VÀ PHẠM VI THU THẬP THÔNG TIN KHÁCH HÀNG<br />
            <em>Mục đích thu thập:</em> LHT Medical  chỉ thu thập thông tin khách hàng nhằm mục đích tiếp nhận, phản hồi ý kiến và giải đáp thắc mắc của khách hàng liên quan đến sản phẩm, cách phục vụ của LHT Medical , nắm bắt được các nguyện vọng, mong muốn của khách hàng nhằm nâng cao chất lượng sản phẩm và phục vụ, đảm bảo đầy đủ quyền lợi cho khách hàng.<br />
            <em>Phạm vi thu thập:</em> Trong quá trình tiếp nhận, phản hồi ý kiến và giải đáp thắc mắc cho khách hàng, LHT Medical  chỉ thu thập thông tin khách hàng cung cấp bao gồm: tên liên hệ, email, nội dung cần liên hệ
        </p>
        <p>
            PHẠM VI SỬ DỤNG THÔNG TIN:<br />
            Website LHT Medical  chỉ sử dụng thông tin khách hàng phục vụ cho hoạt động phản hồi, giải đáp thắc mắc của khách hàng về sản phẩm, dịch vụ của LHT Medical .<br />
            LHT Medical  không sử dụng, chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 về thông tin cá nhân của người dùng khi chưa có sự cho phép đồng ý.<br />
            Trong trường hợp có yêu cầu của cơ quan nhà nước có thẩm quyền liên quan đến hành vi vi phạm thì LHT Medical  có trách nhiệm hợp tác cung cấp thông tin cá nhân khách hàng.
        </p>
        <p>
            THỜI GIAN LƯU TRỮ THÔNG TIN:<br />
            Thông tin cá nhân mà khách hàng cung cấp sẽ bảo mật trên máy chủ của LHT Medical  cho đến khi có yêu cầu hủy bỏ từ khách hàng qua email hoặc qua bộ phận chăm sóc khách hàng (028)38520857- ext: 1604
        </p>
        <p>
            NHỮNG NGƯỜI HOẶC TỔ CHỨC CÓ THỂ TIẾP CẬN THÔNG TIN KHÁCH HÀNG:<br />
            Người Tiêu Dùng đồng ý rằng, trong trường hợp cần thiết, các cơ quan/ tổ chức/cá nhân sau có quyền được tiếp cận và thu thập các thông tin cá nhân của mình, bao gồm:<br />
            Ban quản trị<br />
            Theo yêu cầu của cơ quan nhà nước có thẩm quyền
        </p>
        <p style="text-align: left;">
            ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÝ THÔNG TIN, bao gồm cách thức liên lạc để người tiêu dùng có thể hỏi về hoạt động thu thập, xử lý thông tin liên quan đến cá nhân mình;<br />
            <em>Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</em><br />
            Công ty TNHH Một thành viên LHT Medical <br />
            Địa chỉ văn phòng: 1175A, đường 3/2, phường 6, quận 11, Tp. Hồ Chí Minh, Việt Nam
        </p>
        <p>
            <em>Cách thức liên lạc</em> để khách hàng có thể hỏi về hoạt động thu thập, xử lý thông tin liên quan đến cá nhân mình<br />
            Liên hệ qua bộ phận chăm sóc khách hàng (028)38520857- ext: 1604<br />
            Thông qua email: lhtmedical@gmail.com
        </p>
        <p>
            PHƯƠNG TIỆN VÀ CÔNG CỤ ĐỂ NGƯỜI DÙNG TIẾP CẬN VÀ CHỈNH SỬA DỮ LIỆU CÁ NHÂN:<br />
            Website không cho phép thực hiện giao dịch trực tuyến, không có chức năng giao dịch online. Do đó, website LHT Medical  không yêu cầu người dùng đăng ký/ đăng nhập tài khoản.<br />
            Chúng tôi chỉ lưu trữ thông tin khách hàng bao gồm tên, email liên hệ và nội dung khách hàng muốn trao đổi. Ngoài ra, website không yêu cầu khách hàng cung cấp thêm thông tin nào khác.<br />
            Người liên hệ đến LHT Medical  sẽ tự chịu trách nhiệm về tính chính xác của thông tin mà mình cung cấp. Khi có nhu cầu cần tiếp cận và chỉnh sửa thông tin cá nhân, người dùng có thể liên hệ qua thông tin của ABC Bakery được thể hiện trên website tại mục “Liên hệ” (Contact). Người dùng không thể tự kiểm tra, cập nhật hay điều chỉnh, hủy bỏ thông tin cá nhân.
        </p>
        <p>
            <strong>Cơ chế tiếp nhận và giải quyết khiếu nại của người tiêu dùng liên quan đến việc thông tin cá nhân bị sử dụng sai mục đích hoặc phạm vi đã thông báo.</strong><br />
            Thông tin cá nhân của người dùng trên LHT Medical  được cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của LHT Medical .<br />
            Việc thu thập và sử dụng thông tin của mỗi người dùng chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.<br />
            Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, ABC Bakery sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho người dùng được biết.<br />
            Người dùng có trách nhiệm thông báo kịp thời cho website LHT Medical  về những hành vi sử dụng trái phép, lạm dụng thông tin để có biện pháp giải quyết phù hợp.<br />
            Mọi sự chia sẻ và sử dụng thông tin khách hàng chúng tôi cam kết thực hiện theo chính sách bảo mật của công ty và quy định của Pháp luật Việt Nam. LHT Medical  cam kết sẽ khiến quý khách cảm thấy tin tưởng và hài lòng về bảo mật thông tin cá nhân khi hợp tác cùng công ty.
        </p>
    </article>
    <div class="clearfix"></div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="e19e6f74227e0f8f7ea88fce-text/javascript">
        var zoomShop=15,zoomCountry=7;var geocoder,map;var mapOptions={zoom:zoomShop,minZoom:5,maxZoom:18,scrollwheel:false,scaleControl:false,mapTypeControl:false,navigationControl:false,styles:[{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#fcfcfc"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#eeeeee"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"simplified"},{"color":"#dddddd"}]}]};function centerOnMap(address,zoom,hasMarker){geocoder=new google.maps.Geocoder();geocoder.geocode({'address':address},function(results,status){if(status==google.maps.GeocoderStatus.OK){var location=results[0].geometry.location;mapOptions.zoom=zoom;mapOptions.center=location;map=new google.maps.Map(document.getElementById("map-canvas"),mapOptions);if(hasMarker){placeMarkerOnLocation(map,location,address,hasMarker,zoom);}}});}function centerMapTo(location,zoom){if(typeof location==='undefined')return;map.setCenter(location);map.setZoom(zoom);}function placeMarkerOnAddress(map,address,clickable,zoom){if(typeof address==='undefined')return;geocoder=new google.maps.Geocoder();geocoder.geocode({'address':address},function(results,status){if(status==google.maps.GeocoderStatus.OK){var location=results[0].geometry.location;var marker=new google.maps.Marker({map:map,position:location});if(clickable){var infowindow=new google.maps.InfoWindow({content:"<div id='info'>"+address+"<br></div>",maxWidth:200});google.maps.event.addListener(marker,'click',function(){infowindow.open(map,marker);});}}});}function placeMarkerOnLocation(map,location,address,clickable,zoom){if(typeof location==='undefined')return;var marker=new google.maps.Marker({map:map,position:location});if(clickable){var infowindow=new google.maps.InfoWindow({content:"<div id='info'>"+address+"<br></div>",maxWidth:200});google.maps.event.addListener(marker,'click',function(){infowindow.open(map,marker);});}}function getLocationForAddress(address,callback){geocoder=new google.maps.Geocoder();geocoder.geocode({'address':address},function(results,status){if(status==google.maps.GeocoderStatus.OK){var location=results[0].geometry.location;callback.call(callback,location);}});}$(function(){$('.content').each(function(){var address=$(this).find('p').html();$(this).data('address',address);var location=new google.maps.LatLng($(this).data('lat'),$(this).data('lng'));$(this).data('location',location);});$('.content').click(function(){var location=$(this).data('location');var address=$(this).data('address');centerMapTo(location,zoomShop);placeMarkerOnLocation(map,location,address,true,zoomShop);});$('#countrySelect').change(function(){var country=$(this).val();$('#country-'+country).show().siblings().hide();map=new google.maps.Map(document.getElementById("map-canvas"),mapOptions);map.setCenter(new google.maps.LatLng(12.42624,105.078854));map.setZoom(7);$('#country-'+country).find('.content').each(function(){var location=$(this).data('location');var address=$(this).data('address');placeMarkerOnLocation(map,location,address,true,zoomShop);});})
        $('.host > div').first().show().siblings().hide();$('#countrySelect').change();$('.contactForm').submit(function(){var $emptyFields=$(this).children('.inputLine').find('input, textarea').filter(function(){return $.trim($(this).val())=='';});if($emptyFields.size()>0){alert('Please fill in all fields!');return false;}else{$(this).find('input, button, textarea').prop('disabled',true);}});});</script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="e19e6f74227e0f8f7ea88fce-text/javascript">require('index');</script>
    <script type="e19e6f74227e0f8f7ea88fce-text/javascript" src="https://abcbakery.co/wp-content/themes/abc-bakery/js/migrate.js"></script>

    <div style="display:none;">
        <noscript><img src="data:image/webp;base64,UklGRloAAABXRUJQVlA4TE4AAAAvB0ABENcwHzMyIArbtkHhmCEARyAQCASDQDAIHgiE4dE4OAiIhqJAIBAYto2kOObDZ+aP6H84BtbFuEfdnb2Fr6HnnFiZt6C/tE+W/go=" data-pagespeed-url-hash="4181168101" /></noscript>
        <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="e19e6f74227e0f8f7ea88fce-|49"></script><img class="lazyload" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20210%20140%22%3E%3C/svg%3E' data-src="data:image/webp;base64,UklGRloAAABXRUJQVlA4TE4AAAAvB0ABENcwHzMyIArbtkHhmCEARyAQCASDQDAIHgiE4dE4OAiIhqJAIBAYto2kOObDZ+aP6H84BtbFuEfdnb2Fr6HnnFiZt6C/tE+W/go=" data-pagespeed-url-hash="2610854267" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
    </div>
</body>
</html>
<noscript>
    <style>
        .lazyload {
            display: none
        }
    </style>
</noscript>
<script data-noptimize="1" type="e19e6f74227e0f8f7ea88fce-text/javascript">window.lazySizesConfig=window.lazySizesConfig||{};window.lazySizesConfig.loadMode=1;</script>
<script async data-noptimize="1" src='https://abcbakery.co/wp-content/plugins/autoptimize/classes/external/js/lazysizes.min.js?ao_version=2.7.8' type="e19e6f74227e0f8f7ea88fce-text/javascript"></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript" id='jetpack-photon-js'>
    //<![CDATA[
    !function(){function t(){if(this.complete){var e=this.getAttribute("data-lazy-src");if(e&&this.src!==e)this.addEventListener("onload",t);else{var d=this.width,n=this.height;d&&d>0&&n&&n>0&&(this.setAttribute("width",d),this.setAttribute("height",n),i(this))}}else this.addEventListener("onload",t)}var e=function(){for(var e=document.querySelectorAll("img[data-recalc-dims]"),i=0;i<e.length;i++)t.call(e[i])},i=function(t){t.removeAttribute("data-recalc-dims"),t.removeAttribute("scale")};"undefined"!=typeof window&&"undefined"!=typeof document&&("loading"===document.readyState?document.addEventListener("DOMContentLoaded",e):e()),document.body.addEventListener("is.post-load",e)}();
    //]]></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript" id='contact-form-7-js-extra'>
    //<![CDATA[
    var wpcf7={"apiSettings":{"root":"https:\/\/abcbakery.co\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
    //]]></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript" src='https://abcbakery.co/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.3' id='contact-form-7-js'></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript" src='https://abcbakery.co/wp-includes/js/wp-embed.min.js?ver=5.5.1' id='wp-embed-js'></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript" id='sitepress-js-extra'>
    //<![CDATA[
    var icl_vars={"current_language":"en","icl_home":"https:\/\/abcbakery.co"};
    //]]></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript" id='sitepress-js'>
    //<![CDATA[
    icl_lang=icl_vars.current_language;icl_home=icl_vars.icl_home;function addLoadEvent(func){var oldonload=window.onload;if(typeof window.onload!='function'){window.onload=func;}else{window.onload=function(){if(oldonload){oldonload();}func();}}}addLoadEvent(function(){var lhid=document.createElement('input');lhid.setAttribute('type','hidden');lhid.setAttribute('name','lang');lhid.setAttribute('value',icl_lang);src=document.getElementById('searchform');if(src){src.appendChild(lhid);src.action=icl_home;}});function icl_retry_mtr(a){var id=a.getAttribute('id');spl=id.split('_');var loc=location.href.replace(/#(.*)$/,'').replace(/(&|\?)(retry_mtr)=([0-9]+)/g,'').replace(/&nonce=([0-9a-z]+)(&|$)/g,'');if(-1==loc.indexOf('?')){url_glue='?';}else{url_glue='&';}location.href=loc+url_glue+'retry_mtr='+spl[3]+'&nonce='+spl[4];return false;}
    //]]></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript" src='https://stats.wp.com/e-202129.js' async='async' defer='defer'></script>
<script type="e19e6f74227e0f8f7ea88fce-text/javascript">_stq=window._stq||[];_stq.push(['view',{v:'ext',j:'1:9.0.2',blog:'89399897',post:'23',tz:'7',srv:'abcbakery.co'}]);_stq.push(['clickTrackerInit','89399897','23']);</script>
