
@{
    ViewBag.Title = "AccessOrder";
    Layout = "~/Views/Shared/_LayoutABC1.cshtml";
}

<h2><br /><br />Đơn hàng của khách hàng đã được cửa hàng ghi nhận và chúng tôi sẽ liên hệ với quý khách trong thời gian sớm nhất và giao hàng dúng ngày</h2>
<p style="text-align:center; font-size:xx-large">
    @Html.ActionLink("Back to Home", "Index", "ABC")
</p>
